body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #4E709D;
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: #f5b27be3;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}

.calculator-screen {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    outline: none;
    text-align: right;
    font-weight: bold;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    width: 100%;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.1s ease;
}

button:hover {
    background-color: #d1d1d1;
    color: #000;
    transform: scale(1.05);
}

button:active {
    background-color: #ccc;
}

.double-width {
    grid-column: span 2;
}
